Package: cowspeak
Version: 2.81
Section: misc
Priority: optional
Architecture: all
Depends: ruby
Maintainer: Sourav Goswami <souravgoswami@protonmail.com>
Description: Display an animal with a random quote or your own text.
